$t1-mbg: hsl(222, 26%, 31%);
$t1-tbg_kbg: hsl(223, 31%, 20%);
$t1-sbg: hsl(224, 36%, 15%);
$t1-kbg: hsl(225, 21%, 49%);
$t1-ks: hsl(224, 28%, 35%);
$t1-red: hsl(6, 63%, 50%);
$t1-dred: hsl(6, 70%, 34%);
$t1-lgo: hsl(30, 25%, 89%);
$t1-go: hsl(28, 16%, 65%);
$t1-txt: hsl(221, 14%, 31%);
$white: #fff;

$t2_mbg: hsl(0, 0%, 90%);
$t2-tbg_kbg: hsl(0, 5%, 81%);
$t2-sbg: hsl(0, 0%, 93%);
$t2-kbg: hsl(185, 42%, 37%);
$t2-ks: hsl(185, 58%, 25%);
$t2-o: hsl(25, 98%, 40%);
$t2-do: hsl(25, 99%, 27%);
$t2-lgy: hsl(45, 7%, 89%);
$t2-dgo: hsl(35, 11%, 61%);
$t2-txt: hsl(60, 10%, 19%);

$t3-mbg: hsl(268, 75%, 9%);
$t3-tbg_kbg: hsl(268, 71%, 12%);
$t3-sbg: hsl(268, 71%, 12%);
$t3-kbg: hsl(281, 89%, 26%);
$t3-ks: hsl(285, 91%, 52%);
$t3-pc: hsl(176, 100%, 44%);
$t3-sc: hsl(177, 92%, 70%);
$t3-vdv: hsl(268, 47%, 21%);
$t3-dm: hsl(290, 70%, 36%);
$t3-txt-ly: hsl(52, 100%, 62%);
$t3-txt-vdb: hsl(198, 20%, 13%);
